html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Navagation Section*/

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    z-index: 9999;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

.top-navigation > .links {
    float: right;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.content {
    padding: 0px 15px;
}

.links > li {
    display: inline-block;
    margin-left: 72px;
}

.links {
    margin-top: -32px;
}

html {
    -webkit-font-smoothing: antialiased;
}


/* background image section: challenge*/

.introduction {
    background-image: url('http://i.imgur.com/bGzSaxF.jpg?1');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.introduction h1 {
    color: white;
    position: absolute;
    margin: 0 auto;
    left: 34%;
    top: 40%;
}

.introduction h3 {
    color: white;
    position: absolute;
    margin: 3rem 17rem;
    left: 11%;
    top: 41%;
}

button {
    margin: 23em 45%;
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    position: absolute;
}


/*three icon section*/

.cases h2 {
    position: absolute;
    font-size: 2.75rem;
    width: 45%;
    margin: 5% 0px 0px 30%;
    font-weight: 400;
    width: 45%;
    font-family: 'Roboto', sans-serif;
}

.cases .devices {
    margin-top: 8em;
    text-align: center;
    width: 33%;
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 5em;
}

.cases .definition {
    color: black;
    display: inline-block;
    margin: 0em 8em;
}


/*footer icon section*/

.social .icons li {
    position: relative;
    color: royalblue;
    display: inline-block;
    margin: 1rem -2rem 0rem -2rem;
    text-align: center;
    width: 10%;
    left: 34rem;
}

h5 {
    text-align: center;
}
